<h2 align="center" class="display-4 mt-4">Title : <%= @article.title %></h2>
<div class="card listing mt-3 p-3">
  <% if @article.user %>
  <h4>Created By:</h4>
    <ul style="list-style: none;">
        <div class="row justify-content-start">
          <div class="col col-md-auto">
            <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
            <li class="article-title">
              <%= link_to @article.user.username, user_path(@article.user)%>
            </li>
          </div>
        </div>
    </ul>
  <% end%>
    <h4 class="center description" >Description:</h4>
    <% if @article.categories.any? %>
      <p>Categories: <%= render @article.categories %></p>
    <% end %>
    <hr>
    <%= simple_format(@article.description) %>
    <hr>
    <div class="article-actions">
      <% if logged_in? && (current_user == @article.user || current_user.admin? ) %>
        <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
        <%= link_to "Delete this article", articles_path(@article), method: :delete,
            data: { confirm: "Are you sure to delete this article?" }, class:"btn btn-sm btn-danger"%>
      <% end %>
      <%= link_to "View all articles", articles_path, class: "btn btn-sm btn-success" %>
    </div>
</div>
