<h1 align="center" class="display-4 mt-4">Alpha Bloggers</h1>
<div class="container">
  <% @users.each do |user| %>
    <ul class="listing card mt-5 p-3 bg-gray mx-auto" style="width: 40rem;">
        <div class="mt-2 mb-2 row justify-content-md-center">
          <div class="col col-md-auto">
            <li><%= link_to gravatar_for(user), user_path(user) %></li>
            <li class="article-title">
              <%= link_to user.username, user_path(user)%>
            </li>
            <li class="mb-1 font-weight-normal" align="center"><%= pluralize(user.articles.count, "article") if user.articles %></li>
              <% if logged_in? && current_user.admin? %>
              <li><%= link_to "Delete this user", user_path(user), method: :delete,
                    data: { confirm: "Are you sure to delete the user and their articles?"},
                    class: "btn btn-sm btn-danger" %></li>
              <% end %>
          </div>
        </div>
    </ul>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
