<h1 align="center" class="display-4 mt-4">Welcome to <%= @user.username %>'s page</h1>
<div class="container">
  <div class="d-flex justify-content-center">
  <%= gravatar_for @user, size: 150 %>
  </div>
  <h4 align="center" class="mt-3 mb-3"><%= @user.username %>'s articles<h4>
  <div class="mb-5 d-flex justify-content-center">
    <div style="font-size: medium;">
      <%= render 'articles/article', obj: @user_articles %>
      <div class="d-flex justify-content-center">
        <%= will_paginate @user_articles %>
      </div>
    </div>
  </div>
</div>
